@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@using WebApplicationFiles.Models.dto;

@model ProductoDto

@{
}


<form asp-controller="Producto" asp-action="Update" enctype="multipart/form-data" method="POST">

    <h2>Actualizar</h2>

    <div asp-validation-summary="ModelOnly" class="form-group text-danger"></div>

    

    <div class="form-group">
        <input hidden name="id" value="@ViewData["IdProducto"]" class="form-control-plaintext">
        <label for="">Nombre:</label>
        <input type="text" class="form-control" asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="">Precio:</label>
        <input type="number" class="form-control" asp-for="Precio">
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="form-group">
        
        <label for="">Subir imagen:</label>
        <img class="img-fluid" src="/uploads/@ViewData["ImageFile"]" width="150" alt="@ViewData["ImageFile"]">
        <input type="file" class="form-control" asp-for="ImageFileUpload">
        <span asp-validation-for="ImageFileUpload" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Empleado" asp-action="Index">Regresar</a>

</form>